<div class="row center">
  <div class="col-md-6">
    <h1>Sign in</h1>
    <%= render 'signin_form' %>
  </div>
  <div class="col-md-6">
    <h1>Register</h1>
    <%= render 'users/register_form' %>
  </div>
</div>
