<div class="row center">
<div class="col-md-6">
    <h2>Recent Events</h2>
    <%= render @upcoming_events %>
  </div>
  <div class="col-md-6">
    <h2>Recently Passed Events</h2>
    <%= render @past_events %>
  </div>
</div>
